           <!--Carousel--> 

          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <p class="car-image"><%= image_tag "kidseating.png" %></p>
                <div class="carousel-caption">
                </div>
              </div>
              <div class="item">
                <a class="car-image"><%= image_tag "bentocarousel1.png" %></a>
                <div class="carousel-caption">
                  <h1 class="carouselheader">Delivered in a way that your kids will love. </br> Even the veggies.</h1>
                </div>
              </div>
              <div class="item">
                <a class="car-image"><%= image_tag "carouselbento2.png" %></a>
                <div class="carousel-caption">
                  <h1>We like to call it farm to lunchbox.</h1>
                </div>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            <div><a name="benefits"></a></div>
          </div>
           <!--End Carousel-->

 <!--Start Features-->
          <div class="features">
           <h1 class="first-head text-center text-muted">Benefits of Bento Club</h1>
           
            <div class="container">
              <div class="row text-center">
                <div class="col-md-4">
                  <img src="images/organic.png" alt="Organic">
                  <h3>Healthy Ingredients</h3>
                  <p>We source all of our ingredients from local farmers. Along with fresh ingredients, we use nutritionist-approved recipes to help create balanced meals tailored to kids.</p>
                </div>
                <div class="col-md-4">
                  <img src="images/clock.png" alt="Clock">
                  <h3>Save Time</h3>
                  <p>Making kids lunches can be one of the most tedious and time-consuming things you do.  Allow us to do all of the dirty work so you can spend more time in your happy place.</p>
                </div>
                <div class="col-md-4">
                  <img src="images/world.png" alt="World">
                  <h3>Sustainable Practices</h3>
                  <p>We want to keep the world healthy just like your kids.  We use sustainablity practices in everything we do, from food to packaging.  We use 100% recyclable materials.</p>
                </div>


              </div>
            </div>
           </div>

          <!--End Features-->


