          <!--Start How it Works-->
          <div class="works-container">
            <div class="container">
             <h1 class="works-text works-head text-center">How It Works</h1>
              <div class="row text-center">
                <div class="col-md-3 howitworks">
                  <h3 class="works-text"><strong>Step 1:</strong> Order Online</h3>
                    <img <img src="images/Choosing.png" alt="Delivery Man" class="img-rounded howitworksimg">
                  <p class="works-text">Every week you choose the meals your kids want from our online menu.  You can mix and match to get exactly what your kids will love.</p>
                </div>
                 <div class="col-md-1 howitworks">
                </div>
                <div class="col-md-3 howitworks">
                  <h3 class="works-text"><strong>Step 2:</strong> Delivery</h3>
                  <img <img src="images/deliveryman.png" alt="Delivery Man" class="img-rounded howitworksimg">
                  <p class="works-text">You can choose from a list of delivery times.  Our team of drivers deliver your meals every Sunday to maximize freshness.</p>
                </div>
                <div class="col-md-1 howitworks">
                </div>
                <div class="col-md-3 howitworks">
                  <h3 class="works-text"><strong>Step 3:</strong> Enjoy</h3>
                     <img <img src="images/bentohowto.png" alt="Delivery Man" class="img-rounded howitworksimg">
                  <p class="works-text">On each day, simply take the pre-sealed tray and place it in your child's lunchbox along with an ice pack.  It's as simple as that.</p>
                </div>


              </div>
            </div>
           </div>
         </div>
           <!--End How it Works-->