          <!--Start How it Works-->
          <div class="works-container">
            <div class="container">
             <h1 class="works-text feature-head text-center text-muted">How It Works</h1>
              <div class="row text-center">
                <div class="col-md-3 howitworks">
                  <h3 class="works-text">Step 1: Order Online</h3>
                  <p class="works-text">Every week you choose the meals your kids want from our online menu.  You can mix and match to get exactly what your kids will love.</p>
                </div>
                 <div class="col-md-1 howitworks">
                </div>
                <div class="col-md-3 howitworks">
                  <h3 class="works-text">Step 2: Delivery</h3>
                  <p class="works-text">You can choose from a list of delivery times.  Our team of drivers deliver your meals every Sunday to maximize freshness.</p>
                </div>
                <div class="col-md-1 howitworks">
                </div>
                <div class="col-md-3 howitworks">
                  <h3 class="works-text">Step 3: Prep</h3>
                  <p class="works-text">On each day, three minutes of prep is required to take the pre-maid lunches and transfer them to the Bento Club Container.  This keeps the food as fresh as possible without using harmful preservatives. </p>
                </div>


              </div>
            </div>
           </div>
         </div>
           <!--End How it Works-->