<div class="carousel-inner">
              <div class="item active">
                <p class="car-image"><%= image_tag "kidspartying.png" %></p>
                <div class="carousel-caption">
                  <h1 class="welcome carousel-caption logo">Welcome to lunchpal!</h1> 
                </div>
              </div>
            </div>