

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <p class="car-image"><%= image_tag "kidseatingdark.png" %></p>
                <div class="carousel-caption-welcome">
                	<h1>Thank you for signing up!</h1>
                </h4>We'll be in touch shortly with how to get started.  For now get to know us a little better:</h4>
    			<br>
                <a href="www.facebook.com"><%= image_tag "facebook-icon.png" %></a>
                 <a href="www.facebook.com"><%= image_tag "twitterwhite.png" %></a>


                </div>
              </div>
            </div>
