/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.btn-trinity-white:hover {
border: solid 2px green;
background: #fff;
color: green !important;
font-weight: bold;
}

.btn-trinity-white {
border: solid 2px #000;
background: #fff;
color: #000 !important;
font-weight: bold;
}
.btn-trinity {
border-radius: 0px;
text-decoration: none;
padding: 8px 12px;
font-size: 12px;
line-height: 19px;
text-transform: uppercase;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
letter-spacing: 3px;
-webkit-transition: all .4s ease-in-out;
-moz-transition: all .4s ease-in-out;
-ms-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
}

.margin-bottom {
	margin-bottom: 30px;
}

.first-head {
	margin-top:80px;
}