@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

$body-bg:                                                   #ecf0f1;
$font-family-sans-serif:                'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height:                                        50px;
$navbar-default-bg:                          white;
$navbar-default-brand-color:      #c0392b;
$brand-primary:                                    #c0392b;
$carousel-control-opacity: 0;
$jumbotron-bg:                                         white;

@import 'bootstrap';

h4 {
	font-family: 'Roboto Slab', serif;
	text-size: 18px;
	text-weight: bold;
	color: #395F1A;
}

.works-container {
	background-image: url('../images/solid.png');
}

.faq-container {
	background-image: url('../images/solid.png');
}


.social {
width: 25%;
margin-top: 30px;
}

.howitworks h3 {
	margin-bottom: 10px;
}

.howitworks p {
	margin-top: 20px;
}


.howitworks{
margin-top: 38px;
padding: 40px 0 60px 0;
margin-left: 14px;
}

.col-md-1 {
width: 5.333333%;
}

.works-head {
	margin-bottom: -60px;
	color: rbg (40,40,40);
	font-weight: bold;
	margin-top: 38px;
}

.faq-head {
	color: rbg (40,40,40);
	font-weight: bold;
	margin-top: 38px;
}

.col-md-6 ul{
	margin-top: 30px;
}

.car-image img {
	height: 100%;
	width:100%;
}

.list a{
	color: rgb(241,241,241);
	margin-right: 20px;
	margin-top: 30px;
}

.copyright {
	margin: 0 38px 10px;
	font-size: 12px;
	color: lightgray;
}

.list li{
	list-style: none;
	display: inline;
}

.center {
     text-align: center;
}

.navbar-brand {
     font-weight: bold;
     margin-top: -5px;
}

.navbar {
margin-bottom: 0px;
background-image: url('../images/connect.png');
border: none;
}
.navbar-fixed-top {
	z-index: 1000;    
}

.works-container h1 h3 p{
	color: rgb (40,40,40);
}

.wholepage {
	margin-top: 84px;
}

.carousel {
	margin-top: -30px;
}

.carousel-inner > .item > a > img {
display: block;
width: 100% !important;
height: 100% !important;
line-height: 1;
}

.carousel-inner > .active > a > img {
display: block;
width: 100% !important;
height: 100% !important;
line-height: 1;
}



.graybackground {
	background-color: rgba(0,0,0,0.6);
		height: 70px;
		vertical-align: middle !important;
		font-size: 30px;
		padding-top: 20px;
}

.alert {
padding: 10px;
margin-bottom: 0px;
border: 1px solid transparent;
border-radius: 4px;
}

.features {
margin-top: -10px;
padding: 35px 0 50px 0;
background-image: url('../images/brushed.png');
}


.footer {
margin-top: 0;
padding: 0 0 0 0;
background-image: url('../images/footerbg.png');
}


.panel-default {
margin-top: -5px;
}

.col-md-4 {
margin-top: 38px;
}

.bottomheader {
	background-image: url('../images/brushed.png') !important;
	padding: 7px 0 7px 0;
}

#no-margin {
	margin: 0 0 0 0;
	text-size: 15px;
  	font-family: 'Roboto', sans-serif;
}

.text-muted {
	font-weight: bolder;
}

.checkbox input[type="checkbox"] {
	margin-left: 0;
}
input[type="checkbox"] {
margin: 4px -10px 10px 10px;
}

hr {
	width: 80%;
	margin: 40px auto 40px auto;
	border-top: 1px solid #969696;
}


.over-banner {
position: absolute;
left: 15%;
right: 15%;
bottom: 20px;
z-index: 10;
padding-top: 20px;
padding-bottom: 20px;
color: white;
text-align: center;
text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
left: 20%;
right: 20%;
padding-bottom: 30px;
}



.faq-cat-content {
    margin-top: 25px;
}

.faq-cat-tabs li a {
    padding: 15px 10px 15px 10px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    color: #777777;
}

.nav-tabs li a:focus,
.panel-heading a:focus {
    outline: none;
}

.panel-heading a,
.panel-heading a:hover,
.panel-heading a:focus {
    text-decoration: none;
    color: #777777;
}

.faq-cat-content .panel-heading:hover {
    background-color: #efefef;
}

.active-faq {
    border-left: 5px solid #888888;
}

.panel-faq .panel-heading .panel-title span {
    font-size: 13px;
    font-weight: normal;
}
