@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$body-bg:                                                   #ecf0f1;
$font-family-sans-serif:                'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height:                                        50px;
$navbar-default-bg:                          white;
$navbar-default-brand-color:      #c0392b;
$brand-primary:                                    #c0392b;
$carousel-control-opacity: 0;
$jumbotron-bg:                                         white;

@import 'bootstrap';

.center {
     text-align: center;
}

.navbar-brand {
     font-weight: bold;
     margin-top: -5px;
}

.car-image {
	width: 100%;
}

.carousel {
		margin-bottom: 20px;
}



.navbar {
margin-bottom: 0px;
}
.carousel-inner > .item > a > img {
display: block;
width: 100% !important;
height: 100% !important;
line-height: 1;
}

.carousel-inner > .active > a > img {
display: block;
width: 100% !important;
height: 100% !important;
line-height: 1;
}


.graybackground {
	background-color: rgba(0,0,0,0.6);
		height: 70px;
		vertical-align: middle !important;
		font-size: 30px;
		padding-top: 20px;
}

.alert {
padding: 10px;
margin-bottom: 0px;
border: 1px solid transparent;
border-radius: 4px;
}

div.Features {
margin-top: 50px;
}

.panel-default {
margin-top: 30px;
}


.checkbox input[type="checkbox"] {
	margin-left: 0;
}
input[type="checkbox"] {
margin: 4px -10px 10px 10px;
}

hr {
	width: 80%;
	margin: 40px auto 40px auto;
	border-top: 1px solid #969696;
}
