@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$body-bg:                                                   #ecf0f1;
$font-family-sans-serif:                'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height:                                        50px;
$navbar-default-bg:                          white;
$navbar-default-brand-color:      #c0392b;
$brand-primary:                                    #c0392b;
$carousel-control-opacity: 0;
$jumbotron-bg:                                         white;

@import 'bootstrap';

.center {
     text-align: center;
}

.navbar-brand {
     font-weight: bold;
     margin-top: -5px;
}

.car-image {
	width: 100%;
}

.carousel {
		margin-bottom: 20px;
}



.navbar {
margin-bottom: 0px;
}
.carousel-inner > .item > a > img {
display: block;
width: 100% !important;
height: 100% !important;
line-height: 1;
}

.carousel-inner > .active > a > img {
display: block;
width: 100% !important;
height: 100% !important;
line-height: 1;
}

img {
vertical-align: middle;
height: 100%;
width: 100%;
}

.graybackground {
	background-color: rgba(0,0,0,0.6);
		height: 70px;
		vertical-align: middle !important;
		font-size: 30px;
		padding-top: 20px;
}