<!--Start Footer-->
          <div class="footer">
            <div class="container">
              <div class="row text-center">
                <div class="col-md-4">
                  <h4>Reach Out!</h4>
                  <p>We would love to chat with you.  Just email us at hello@joinbentoclub.com.</p>
                </div>
                <div class="col-md-4">
                  <h4>Invite Your Friends.</h4>
                  <p>Don't be greedy! <a href="sharepage">Share the love</a> and let your friends know about Bento Club. For every friend who signs up, we'll give you a meal free!</p>
                </div>
                <div class="col-md-4">
                  <h4>Win Prizes!</h4>
                  <p>We sneak prizes in meals every once in a while.  And not like the toys you find in happy meals.  Like Disney Vacations!</p>
                </div>
              </div>
           <div class="row">
           	 <div class="col-md-12 footernav">
           	 	<ul class="list">
                  	<li><%= link_to "FAQ", faq_path %></li>
                  	<li><a href="#">Privacy Policy</a></li>
                  	<li><a href="#">Terms and Conditions</a></li>
                  	<li><a href="#">Newsletter</a></li>
                  	<li><a href="#">Jobs</a></li>
                  </ul>
                 <p class="copyright">Copyright © 2014 Bento Club Inc. | All Rights Reserved.</p>
              </div>
              	 <div class="col-md-12 social">

              	 <ul class="list">
              	 	<li> <a href="http://facebook.com" target="_blank"> <img src="images/fbfooterlogo.png" alt="Facebook Logo"></a></li>
              	 	<li> <a href="http://twitter.com" target="_blank"> <img src="images/twitterfooterlogo.png" alt="Twitter Logo"></a></li>
              	 	<li> <a href="http://instagram.com" target="_blank"> <img src="images/instafooterlogo.png" alt="Instagram Logo"></a></li>
              	 	<li> <a href="http://pinterest.com" target="_blank"> <img src="images/pinfooterlogo.png" alt="Pinterest Logo"></a></li>
              	 	
                  </ul>
                 
              </div>


            </div>
           </div>
